name: Tests

on:
  push:
  pull_request:

jobs:
  phpunit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.3"

    - name: Install dependencies
      run: composer install --no-interaction --prefer-dist --no-progress

      - name: Download PHPUnit PHAR
        run: |
          curl -LsS -o phpunit.phar https://phar.phpunit.de/phpunit-12.phar
          chmod +x phpunit.phar

      - name: Run tests
        run: php phpunit.phar
